tr.example-detail-row {
  height: 0;
}

tr.expanded-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.expanded-row:not(.example-expanded-row):active {
  background: #efefef;
}

.expanded-row td {
  border-bottom-width: 0;
}

.expanded-row-content {
  overflow: hidden;
}
