<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container
    *ngFor="let column of columns"
    matColumnDef="column.matColumnDef"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by number"
    >
      {{ column.columnHeader }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="column.elementKey">{{
        element[column.elementKey]
      }}</ng-container>
      <ng-container *ngIf="column.template">
        <ng-template
          [ngTemplateOutlet]="column.template"
          [ngTemplateOutletContext]="{ element: element }"
        ></ng-template>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
