@let customField = (formGroup.value.customFieldId ?? 0)| customField: customFields;
@let label = customField?.name ?? '';

<ng-container
  [ngSwitch]="customField?.type ?? ''"
>
  <ng-container *ngSwitchCase="CustomFieldType.Currency" [ngTemplateOutlet]="currency"></ng-container>
  <ng-container *ngSwitchCase="CustomFieldType.Date" [ngTemplateOutlet]="date"></ng-container>
  <ng-container *ngSwitchCase="CustomFieldType.Text" [ngTemplateOutlet]="text"></ng-container>
  <ng-container *ngSwitchCase="CustomFieldType.Select" [ngTemplateOutlet]="select"></ng-container>
</ng-container>

<ng-template #currency>
  <app-input
    class="w-100"
    type="text"
    [label]="label"
    [isCurrency]="true"
    [inputFormControl]="formGroup.controls.value"
    [readonly]="readonly"
  ></app-input>
</ng-template>

<ng-template #date>
  <app-datepicker
    class="w-100"
    [label]="label"
    [inputFormControl]="formGroup.controls.value"
    [readonly]="readonly"
  ></app-datepicker>
</ng-template>

<ng-template #text>
  <app-input
    class="w-100"
    [label]="label"
    [inputFormControl]="formGroup.controls.value"
    [readonly]="readonly"
  ></app-input>
</ng-template>

<ng-template #select
>
  <app-select
    class="w-100"
    optionDisplayKey="value"
    optionValueKey="id"
    [label]="label"
    [inputFormControl]="formGroup.controls.value"
    [options]="customField?.options ?? []"
    [readonly]="readonly"
  ></app-select>
</ng-template>
