@import "../../variables.scss";

.nav-button {
  width: 75px;
  height: 75px;

  img {
    width: 50px;
    height: 50px;
  }

  svg {
    width: 50px;
    height: 50px;
  }

  mat-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.notifications-bell {
  width: 75px;
  height: 75px;
}

.header-container {
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.active-link > * {
  fill: map-get($primary-palette, 400) !important;
  color: map-get($primary-palette, 400) !important;
}

.receipt-searchbar {
  width: 25rem !important;
}
