<ng-container *ngIf="!!(isLoggedIn | async)">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <mat-card class="nav-card">
      <mat-card-content>
        <img src="../../assets/navigation/group.svg" />
        <ng-template
          [ngTemplateOutlet]="navButton"
          [ngTemplateOutletContext]="{
            srcPath: '../../assets/navigation/dashboard.svg',
            tooltip: 'Dashboard',
            routerLink: ['/dashboard']
          }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="navButton"
          [ngTemplateOutletContext]="{
            srcPath: '../../assets/navigation/receipt-list.svg',
            tooltip: 'Receipt List',
            routerLink: receiptHeaderLink | async
          }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="navButton"
          [ngTemplateOutletContext]="{
            srcPath: '../../assets/navigation/add-receipt.svg',
            tooltip: 'Add Receipt',
            routerLink: ['/receipts/add']
          }"
        ></ng-template>
      </mat-card-content>
    </mat-card>
    <div>
      <app-avatar [user]="(loggedInUser | async) ?? $any({})"></app-avatar>
    </div>
  </div>
</ng-container>

<ng-template
  #navButton
  let-srcPath="srcPath"
  let-routerLink="routerLink"
  let-tooltip="tooltip"
>
  <button
    mat-icon-button
    color="primary"
    class="nav-button"
    [routerLink]="routerLink"
    [matTooltip]="tooltip"
  >
    <img [src]="srcPath" />
  </button>
</ng-template>
