<app-button
  [buttonClass]="buttonClass"
  [color]="color"
  [buttonText]="buttonText"
  [type]="type"
  [matButtonType]="matButtonType"
  [icon]="icon"
  [customIcon]="customIcon"
  [disabled]="disabled"
  [tooltip]="tooltip"
  [matBadgeContent]="matBadgeContent"
  [matBadgeColor]="matBadgeColor"
  [cdkMenuTriggerFor]="menu">
</app-button>

<ng-template #menu>
  <div cdkMenu>
    <div class="d-flex flex-column" cdkMenuGroup>
      @for (item of items; track item.value) {
        <button
          cdkMenuItemRadio
          [cdkMenuItemChecked]="item.selected"
          (cdkMenuItemTriggered)="onItemSelected(item)">
          {{ item.displayValue }}
        </button>
      }
    </div>
  </div>
</ng-template>

