<app-button
  [buttonClass]="buttonClass"
  [color]="color"
  [buttonText]="buttonText"
  [type]="type"
  [matButtonType]="matButtonType"
  [icon]="icon"
  [customIcon]="customIcon"
  [disabled]="disabled"
  [tooltip]="tooltip"
  [matBadgeContent]="matBadgeContent"
  [matBadgeColor]="matBadgeColor"
  [cdkMenuTriggerFor]="menu">
</app-button>

<ng-template #menu>
  <div cdkMenu>
    <app-input
      label="Filter options"
      [inputFormControl]="filterFormControl"
      (click)="$event.stopImmediatePropagation(); $event.stopPropagation();"
    ></app-input>
    <div class="d-flex flex-column">
      @for (item of items; track item.value) {
        <button
          mat-menu-item
          (click)="onItemSelected(item, $event)"
        >
          <div class="d-flex align-items-center">
            <mat-checkbox
              class="checkbox"
              [checked]="item.selected"
            ></mat-checkbox>
            <span>
              {{ item.displayValue }}
            </span>
          </div>
        </button>
      }
    </div>
  </div>
</ng-template>

