<app-table-header headerText="Receipts">
  <div class="d-flex align-items-center">
    <app-button
      class="me-2"
      icon="add"
      matButtonType="iconButton"
      tooltip="Add Receipt"
      [disabled]="!(groupId | groupRole : groupRole.EDITOR)"
      [routerLink]="['/receipts/add']"
    ></app-button>
    <app-button
      class="me-2 filter-button"
      icon="filter_alt"
      matButtonType="iconButton"
      tooltip="Filter Receipts"
      [disabled]="!(groupId | groupRole : groupRole.EDITOR)"
      (clicked)="filterButtonClicked()"
    ></app-button>
    <app-button
      *ngIf="(checkboxChange | async)?.source?.selected?.length ?? false"
      buttonText="Bulk Status Update"
      (click)="showStatusUpdateDialog()"
    ></app-button>
  </div>
</app-table-header>
<app-receipt-filter *ngIf="showFilterCard"></app-receipt-filter>
<div class="table-container">
  <app-table
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [dataSource]="dataSource"
    [pagination]="true"
    [length]="totalCount"
    [selectionCheckboxes]="true"
    [page]="$any(page | async) - 1"
    [pageSize]="(pageSize | async) ?? 50"
    (sorted)="sort($event)"
    (pageChange)="updatePageData($event)"
  ></app-table>
</div>

<ng-template #dateCell let-element="element"
  >{{ element.date | date }}
</ng-template>

<ng-template #nameCell let-element="element">
  <a [routerLink]="['/receipts/' + element.id + '/view']">
    {{ element.name }}
  </a>
</ng-template>

<ng-template #paidByCell let-element="element">
  {{ (element.paidByUserId | user)?.displayName }}
</ng-template>

<ng-template #amountCell let-element="element">
  {{ element.amount | currency }}
</ng-template>

<ng-template #categoryCell let-element="element">
  {{ element?.categories | name }}
</ng-template>

<ng-template #tagCell let-element="element">
  {{ element.tags | name }}
</ng-template>

<ng-template #statusCell let-element="element">
  <app-status-chip [status]="element.status"></app-status-chip>
</ng-template>

<ng-template #resolvedDateCell let-element="element">
  {{ element.resolvedDate | date : "medium" }}
</ng-template>

<ng-template #actionsCell let-element="element" let-index="index">
  <div class="d-flex w-100">
    <app-button
      matButtonType="iconButton"
      icon="file_copy"
      tooltip="Duplciate"
      color="accent"
      (clicked)="duplicateReceipt(element.id)"
    ></app-button>
    <app-button
      matButtonType="iconButton"
      icon="delete"
      buttonText="hello"
      color="warn"
      (clicked)="deleteReceipt(element)"
    ></app-button>
  </div>
</ng-template>
