<div
  *ngFor="let child of childTasks"
  class="d-flex flex-column"
>
  <ng-container [ngSwitch]="child.type">
    <ng-template *ngSwitchCase="SystemTaskType.OcrProcessing" [ngTemplateOutlet]="ocrProcessingDetails"></ng-template>
    <ng-template
      *ngSwitchCase="SystemTaskType.ChatCompletion"
      [ngTemplateOutlet]="chatCompletionDetails"
      [ngTemplateOutletContext]="{ element: child }"
    >

    </ng-template>
  </ng-container>

</div>

<ng-template #ocrProcessingDetails>
  ocr
</ng-template>

<ng-template #chatCompletionDetails let-element="element">
  <app-form-section headerText="Raw Chat Completion">

    Response: <span class="json-container" [innerHTML]="element.resultDescription | prettyJson"></span>
    <app-accordion></app-accordion>
  </app-form-section>
</ng-template>
