<div class="d-flex align-items-center justify-content-center">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ isSignUp ? "Sign Up" : "Login" }}</h2>
    <div class="d-flex flex-column">
      <ng-container *ngIf="isSignUp">
        <app-input
          label="Displayname"
          [inputFormControl]="form | formGet : 'displayname'"
        >
        </app-input>
      </ng-container>
      <app-input
        label="Username"
        [inputFormControl]="form | formGet : 'username'"
      >
      </app-input>
      <app-input
        label="Password"
        type="password"
        [showVisibilityEye]="true"
        [inputFormControl]="form | formGet : 'password'"
      >
      </app-input>
    </div>
    <app-button
      class="d-inline-block w-100 mb-2"
      type="submit"
      [buttonText]="isSignUp ? 'Sign Up' : 'Login'"
    ></app-button>
    <app-button
      *appFeature="'enableLocalSignUp'"
      class="d-inline-block w-100"
      type="button"
      [buttonText]="isSignUp ? 'Back to Login' : 'Sign Up'"
      [routerLink]="isSignUp ? ['/auth/login'] : ['/auth/sign-up']"
    ></app-button>
  </form>
</div>
