<app-autocomlete
  *ngIf="multiple"
  optionFilterKey="displayName"
  optionDisplayKey="displayName"
  [label]="label"
  [inputFormControl]="inputFormControl"
  [options]="users"
  [optionTemplate]="optionTemplate"
  [multiple]="true"
  [readonly]="readonly"
  [optionValueKey]="optionValueKey ?? ''"
></app-autocomlete>

<app-autocomlete
  *ngIf="!multiple"
  optionFilterKey="displayName"
  optionDisplayKey="displayName"
  [optionValueKey]="optionValueKey ?? 'id'"
  [label]="label"
  [inputFormControl]="inputFormControl"
  [options]="users"
  [optionTemplate]="optionTemplate"
  [displayWith]="displayWith.bind(this)"
  [readonly]="readonly"
></app-autocomlete>

<ng-template #optionTemplate let-option="option"
  >{{ option.displayName }}
</ng-template>
