<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    #nativeInput
    matInput
    [id]="inputId"
    [type]="type"
    [readonly]="readonly"
    [formControl]="inputFormControl"
    (blur)="inputBlur.emit($event)"
  />
</mat-form-field>
<ng-container *ngFor="let err of formControlErrors | async">
  <mat-error *ngIf="err.error === 'required' && inputFormControl.touched">{{
    err.message
  }}</mat-error>
  <mat-error *ngIf="err.error !== 'required'">{{ err.message }}</mat-error>
</ng-container>
