@import "/node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "/node_modules/bootstrap/scss/carousel";

.carousel-control-prev {
  top: 10% !important;
}

.remove-button {
  position: absolute !important;
}

.ngx-ic-cropper {
  display: none !important;
}

.image-container {
  max-height: 25vh;
}
