<carousel [interval]="0" [isAnimated]="true">
  <slide *ngFor="let image of images; let i = index">
    <div class="d-flex justify-content-center">
      <app-button
        matButtonType="iconButton"
        icon="zoom_in"
        tooltip="Zoom In"
        (clicked)="zoomIn()"
      ></app-button>
      <app-button
        matButtonType="iconButton"
        icon="zoom_out"
        tooltip="Zoom Out"
        (clicked)="zoomOut()"
      ></app-button>
      <app-button
        matButtonType="iconButton"
        icon="delete"
        tooltip="Remove Image"
        color="warn"
        [disabled]="disabled"
        (clicked)="emitRemoveButtonClicked(i)"
      ></app-button>
    </div>
    <image-cropper
      [imageBase64]="image | image"
      [hideResizeSquares]="true"
      [transform]="transform"
      [allowMoveImage]="true"
    ></image-cropper>
  </slide>
</carousel>
