<div class="p-4">
  <h2 class="header-text">{{ user ? "Edit User" : "Create User" }}</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-input
      label="Username"
      [inputFormControl]="form | formGet : 'username'"
    ></app-input>
    <app-input
      label="Displayname"
      [inputFormControl]="form | formGet : 'displayName'"
    ></app-input>
    <app-select
      label="User Role"
      [inputFormControl]="form | formGet : 'userRole'"
      [options]="userRoleOptions"
    ></app-select>
  </form>
  <div class="d-flex justify-content-end">
    <app-button buttonText="submit"></app-button>
    <app-button buttonText="cancel" (clicked)="closeModal()"></app-button>
  </div>
</div>
