<app-card>
  <ng-container header>
    <h3> {{ widget.name }}</h3>
  </ng-container>
  <div content>
    <app-dashboard-list
      noItemFoundText="No activity found"
      [items]="activities"
      [itemSize]="80"
      [itemHeaderTemplate]="itemHeaderTemplate"
      [itemAvatarTemplate]="itemAvatarTemplate"
      [itemLineTemplate]="itemLineTemplate"
      [itemMetaTemplate]="itemMetaTemplate"
      (endOfListReached)="endOfListReached()"
    ></app-dashboard-list>
  </div>
</app-card>

<ng-template #itemHeaderTemplate let-item=item>
  {{ item.type | systemTaskType }}
  <small
    [ngClass]="{
    'succeeded': item.status === SystemTaskStatus.Succeeded,
    'failed': item.status === SystemTaskStatus.Failed,
  }"
  >
    {{ item.status  | titlecase }}
  </small>

</ng-template>

<ng-template #itemLineTemplate let-item=item>
  Ran by {{ (item.ranByUserId | user)?.displayName ?? "System" }}
</ng-template>

<ng-template #itemAvatarTemplate let-item=item>
  <app-date-block [date]="item.startedAt"></app-date-block>
</ng-template>

<ng-template #itemMetaTemplate let-item=item>
  @if (item.canBeRestarted && !ranActivities[item.id] && (groupId | groupRole: GroupRole.Editor)) {
    <app-button
      matButtonType="iconButton"
      icon="refresh"
      (clicked)="onRefreshButtonClick(item.id)"
    ></app-button>
  }
</ng-template>

