<app-form-header
  [headerText]="formConfig.headerText"
  [headerButtonsTemplate]="headerButtons"
></app-form-header>
<app-audit-detail-section
  *ngIf="formConfig.mode != FormMode.add"
  [data]="originalPrompt"
></app-audit-detail-section>
<form [formGroup]="form" (ngSubmit)="submit()">
  <app-form-section
    headerText="Details"
  >
    <app-input
      label="Name"
      [inputFormControl]="form | formGet:'name'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-input
      label="Description"
      [inputFormControl]="form | formGet:'description'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-textarea
      trigger="@"
      hint="Type @ to view available variables for use in prompts"
      label="Prompt"
      [options]="promptVariables"
      [inputFormControl]="form | formGet: 'prompt'"
      [readonly]="formConfig.mode | inputReadonly"
      [additionalErrorMessages]="{
        invalidVariables: 'Prompt contains invalid variables'
      }"
    ></app-textarea>
  </app-form-section>
  <app-form-button-bar [mode]="formConfig.mode">
    <app-submit-button
      *ngIf="!(formConfig.mode | inputReadonly)"
      class="mb-4"
      [onlyIcon]="false"
    ></app-submit-button>
  </app-form-button-bar>
</form>

<ng-template #headerButtons>
  <app-edit-button
    *ngIf="formConfig.mode === FormMode.view"
    color="accent"
    [buttonRouterLink]="['/system-settings/prompts/' + originalPrompt?.id + '/edit']"
  ></app-edit-button>
</ng-template>
