<app-form-header
  [headerText]="formConfig.headerText"
  [headerButtonsTemplate]="headerButtons"
></app-form-header>
<app-audit-detail-section
  *ngIf="formConfig.mode != FormMode.add"
  [data]="originalPrompt"
></app-audit-detail-section>
<form [formGroup]="form" (ngSubmit)="submit()">
  <app-form-section
    headerText="Details"
  >
    <app-input
      label="Name"
      [inputFormControl]="form | formGet:'name'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-input
      label="Description"
      [inputFormControl]="form | formGet:'description'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-textarea
      label="Prompt"
      [inputFormControl]="form | formGet: 'prompt'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-textarea>
  </app-form-section>
</form>

<ng-template #headerButtons>
  <app-edit-button
    color="accent"
    [buttonRouterLink]="['/system-settings/prompts/' + originalPrompt?.id + '/edit']"
  ></app-edit-button>
</ng-template>
