<mat-form-field class="w-100" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <ng-container *ngIf="multiple">
    <mat-chip-grid #chipGrid>
      <mat-chip-row
        *ngFor="let option of inputFormControl.value; let i = index"
        (removed)="removeOption(i)"
        ><ng-template
          [ngTemplateOutlet]="optionChipTemplate"
          [ngTemplateOutletContext]="{
            option: option
          }"
        ></ng-template>
        <button *ngIf="!readonly" matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button></mat-chip-row
      >
    </mat-chip-grid>
    <input
      #inputMultiple
      *ngIf="multiple"
      matInput
      type="text"
      [formControl]="filterFormControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipGrid"
      [readonly]="readonly"
      [required]="isRequired"
    />
  </ng-container>
  <div class="d-flex justify-content-between">
    <input
      *ngIf="!multiple"
      matInput
      type="text"
      [formControl]="filterFormControl"
      [matAutocomplete]="auto"
      [readonly]="readonly || singleOptionSelected"
      [required]="isRequired"
    />
    <app-button
      *ngIf="singleOptionSelected"
      matButtonType="iconButton"
      icon="close"
      color="secondary"
      (clicked)="removeSingleOption()"
    ></app-button>
  </div>
  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="displayWith"
    (optionSelected)="optionSelected($event)"
    #auto="matAutocomplete"
  >
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="optionValueKey ? option[optionValueKey] : option"
    >
      <ng-template
        *ngIf="optionTemplate"
        [ngTemplateOutlet]="optionTemplate"
        [ngTemplateOutletContext]="{
          option: option
        }"
      >
      </ng-template>
      <ng-container *ngIf="!optionTemplate">{{
        option[optionFilterKey]
      }}</ng-container>
    </mat-option>
    <ng-container *ngIf="creatable && (filteredOptions | async)?.length === 0">
      <mat-option [id]="creatableOptionId" [value]="filterFormControl.value"
        >Add {{ filterFormControl.value }}</mat-option
      >
    </ng-container>
  </mat-autocomplete>
  <mat-error *ngFor="let err of formControlErrors | async">{{
    err.message
  }}</mat-error>
</mat-form-field>
