<app-button
  type="button"
  buttonText="Add Item"
  (clicked)="initAddMode()"
></app-button>

<mat-accordion multi>
  <ng-container *ngIf="isAdding">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="h-100">
        <app-user-autocomplete
          label="Charge to"
          [inputFormControl]="newItemFormGroup | formGet : 'chargedToUserId'"
          [readonly]="mode | inputReadonly"
        ></app-user-autocomplete
      ></mat-expansion-panel-header>
      <div class="d-flex align-items-center">
        <app-input
          label="Name"
          [inputFormControl]="newItemFormGroup | formGet : 'name'"
        >
        </app-input>
        <app-input
          label="Amount"
          type="number"
          [inputFormControl]="newItemFormGroup | formGet : 'amount'"
          [readonly]="mode | inputReadonly"
        >
        </app-input>
        <app-button
          matButtonType="iconButton"
          icon="done"
          tooltip="Done"
          (clicked)="submitNewItemFormGroup()"
        ></app-button>
        <app-button
          matButtonType="iconButton"
          icon="close"
          tooltip="cancel"
          (clicked)="exitAddMode()"
        ></app-button>
      </div>
    </mat-expansion-panel>
  </ng-container>
  <mat-expansion-panel
    #userExpansionPanel
    *ngFor="let key of userItemMap | mapKey; let i = index"
    (opened)="addInlineItem(key)"
    (closed)="checkLastInlineItem(key)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ (key | user)?.displayName }} </mat-panel-title>
      <mat-panel-description>
        <div class="d-flex justify-content-between w-100">
          <span>Total amount owed: {{ userItemMap | userTotal : key }}</span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container
      *ngFor="let itemData of userItemMap | mapGet : key; let i = index"
    >
      <div class="d-flex flex-column item-form-container">
        <div class="d-flex justify-content-end">
          <app-button
            class="w-25"
            buttonText="remove"
            [disabled]="mode | inputReadonly"
            (clicked)="removeItem(itemData)"
          ></app-button>
        </div>
        <div class="d-flex">
          <app-input
            #nameField
            label="Name"
            [inputId]="'name-' + i"
            [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.name'
            "
            [readonly]="mode | inputReadonly"
            (inputBlur)="addInlineItemOnBlur(key, i)"
          >
          </app-input>
          <app-input
            label="Amount"
            [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.amount'
            "
            [readonly]="mode | inputReadonly"
            (inputBlur)="addInlineItemOnBlur(key, i)"
          >
          </app-input>
        </div>
      </div>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
