<mat-accordion multi>
  <ng-container *ngIf="isAdding">
    <mat-card class="w-100 mt-2">
      <mat-card-header>
        <mat-card-title> Add Share</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-user-autocomplete
          label="Shared with"
          [inputFormControl]="newItemFormGroup | formGet : 'chargedToUserId'"
          [readonly]="mode | inputReadonly"
        ></app-user-autocomplete>
        <div class="d-flex align-items-center mt-2">
          <app-input
            label="Name"
            [inputFormControl]="newItemFormGroup | formGet : 'name'"
          >
          </app-input>
          <app-input
            label="Amount"
            type="text"
            [isCurrency]="true"
            [inputFormControl]="newItemFormGroup | formGet : 'amount'"
            [readonly]="mode | inputReadonly"
          >
          </app-input>
          <app-submit-button
            tooltip="Done"
            type="button"
            (clicked)="submitNewItemFormGroup()"
          ></app-submit-button>
          <app-cancel-button
            matButtonType="iconButton"
            tooltip="Cancel"
            (clicked)="exitAddMode()"
          ></app-cancel-button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div *ngIf="userItemMap.size === 0 && mode === formMode.view">No shares</div>
  <mat-expansion-panel
    #userExpansionPanel
    *ngFor="let key of userItemMap | mapKey; let i = index"
    (opened)="addInlineItem(key)"
    (closed)="checkLastInlineItem(key)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ (key | user)?.displayName }}
      </mat-panel-title>
      <mat-panel-description>
        <div class="d-flex justify-content-between align-items-center w-100">
          <span>Total amount owed: {{ userItemMap | userTotal : key }}</span>
          <div *ngIf="originalReceipt?.groupId | groupRole : groupRole.Editor">
            <app-button
              matButtonType="iconButton"
              icon="check"
              tooltip="Resolve all user's items"
              [disabled]="mode === formMode.view"
              [ngClass]="{
                'green-check': allUserItemsResolved(key)
              }"
              (clicked)="resolveAllItemsClicked($event, key)"
            ></app-button>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container
      *ngFor="let itemData of userItemMap | mapGet : key; let i = index"
    >
      <div class="d-flex flex-column item-form-container">
        <div class="d-flex justify-content-end">
          <app-delete-button
            *ngIf="!(mode | inputReadonly)"
            tooltip="Remove Share"
            [disabled]="
              !(originalReceipt?.groupId | groupRole : groupRole.Editor)
            "
            (clicked)="removeItem(itemData)"
          ></app-delete-button>
        </div>
        <div class="row g-0">
          <app-input
            class="col"
            #nameField
            label="Name"
            [inputId]="'name-' + i"
            [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.name'
            "
            [readonly]="mode | inputReadonly"
            (inputBlur)="addInlineItemOnBlur(key, i)"
          >
          </app-input>
          <app-input
            class="col"
            label="Amount"
            [isCurrency]="true"
            [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.amount'
            "
            [readonly]="mode | inputReadonly"
          >
          </app-input>
          <app-select
            class="col"
            label="Status"
            optionValueKey="value"
            optionDisplayKey="displayValue"
            [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.status'
            "
            [readonly]="mode | inputReadonly"
            [options]="itemStatusOptions"
            (inputBlur)="addInlineItemOnBlur(key, i)"
          >
          </app-select>
        </div>
      </div>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
