<app-dialog [headerText]="headerText">
  <form [formGroup]="form">
    <div class="d-flex flex-column">
      <app-input
        label="Name"
        [inputFormControl]="form | formGet : 'name'"
      ></app-input>
      <app-input
        label="Description"
        [inputFormControl]="form | formGet : 'description'"
      ></app-input>
      <app-select
        label="Type"
        optionValueKey="value"
        optionDisplayKey="displayValue"
        [options]="typeOptions"
        [inputFormControl]="form | formGet:'type'"
      ></app-select>
    </div>

    <app-dialog-footer
      (submitClicked)="submit()"
      (cancelClicked)="closeDialog()"
    ></app-dialog-footer>
  </form>
</app-dialog>
