<form
  [formGroup]="form"
  class="d-flex justify-content-between"
  (ngSubmit)="submit()"
>
  <div class="w-100">
    <div>
      <div class="d-flex justify-content-between align-items center">
        <h2>{{ formConfig.headerText }}</h2>
      </div>
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-card-title> <span> Group Details </span> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-input
            label="Group Name"
            [readonly]="formConfig.mode | inputReadonly"
            [inputFormControl]="form | formGet : 'name'"
          ></app-input>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div
              class="d-flex w-100 justify-content-between align-items-center"
            >
              <span>Group Members</span>
              <app-button
                *ngIf="!(formConfig.mode | inputReadonly)"
                matButtonType="iconButton"
                icon="add"
                tooltip="Add User to Group"
                (clicked)="addGroupMemberClicked()"
              ></app-button></div
          ></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-table
            [columns]="columns"
            [dataSource]="dataSource"
            [displayedColumns]="displayedColumns"
            (sorted)="sortName($event)"
          >
          </app-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-form-button-bar>
    <app-edit-button
      *ngIf="formConfig.mode | inputReadonly"
      [disabled]="!(originalGroup?.id ?? 0 | groupRole : groupRole.OWNER)"
      [buttonRouterLink]="[editLink]"
    ></app-edit-button>
    <app-submit-button
      *ngIf="!(formConfig.mode | inputReadonly)"
      class="mb-4"
    ></app-submit-button>
    <app-cancel-button
      *ngIf="!(formConfig.mode | inputReadonly)"
      [routerLink]="['/groups']"
    ></app-cancel-button>
  </app-form-button-bar>
</form>

<ng-template #nameCell let-element="element">
  {{ (element.userId | user)?.displayName }}
</ng-template>

<ng-template #groupRoleCell let-element="element">
  {{ element.groupRole }}
</ng-template>

<ng-template #actionsCell let-index="index">
  <div class="d-flex">
    <app-delete-button
      tooltip="Remove group member"
      [disabled]="disableDeleteButton"
      (clicked)="removeGroupMember(index)"
    ></app-delete-button>
    <app-edit-button
      tooltip="Edit group member"
      (clicked)="editGroupMemberClicked(index)"
    ></app-edit-button>
  </div>
</ng-template>
