<app-form-header
  [headerText]="formConfig.headerText"
  [buttonRouterLink]="['/groups']"
  [headerButtonsTemplate]="headerButtonsTemplate"
></app-form-header>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="w-100">
    <app-form-section headerText="Group Details" [indent]="true">
      <app-input
        label="Group Name"
        [readonly]="formConfig.mode | inputReadonly"
        [inputFormControl]="form | formGet : 'name'"
      ></app-input>
      <app-select
        label="Status"
        [inputFormControl]="form | formGet : 'status'"
        [options]="groupStatusOptions"
      ></app-select>
    </app-form-section>
    <app-form-section
      headerText="Group Members"
      [headerButtonsTemplate]="buttonTemplate"
      [indent]="true"
    >
      <app-table
        [columns]="columns"
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns"
        (sorted)="sortName($event)"
      >
      </app-table>
    </app-form-section>
  </div>
  <app-form-button-bar [mode]="formConfig.mode">
    <app-submit-button
      *ngIf="!(formConfig.mode | inputReadonly)"
      class="mb-4"
      [onlyIcon]="false"
    ></app-submit-button>
  </app-form-button-bar>
</form>

<ng-template #buttonTemplate>
  <app-button
    *ngIf="!(formConfig.mode | inputReadonly)"
    matButtonType="iconButton"
    icon="add"
    tooltip="Add User to Group"
    (clicked)="addGroupMemberClicked()"
  ></app-button>
</ng-template>

<ng-template #headerButtonsTemplate>
  <app-edit-button
    *ngIf="formConfig.mode | inputReadonly"
    color="accent"
    [disabled]="!(originalGroup?.id ?? 0 | groupRole : groupRole.OWNER)"
    [buttonRouterLink]="[editLink]"
  ></app-edit-button>
</ng-template>

<ng-template #nameCell let-element="element">
  {{ (element.userId | user)?.displayName }}
</ng-template>

<ng-template #groupRoleCell let-element="element">
  {{ element.groupRole }}
</ng-template>

<ng-template #actionsCell let-index="index">
  <div class="d-flex">
    <app-delete-button
      tooltip="Remove group member"
      [disabled]="disableDeleteButton"
      (clicked)="removeGroupMember(index)"
    ></app-delete-button>
    <app-edit-button
      tooltip="Edit group member"
      (clicked)="editGroupMemberClicked(index)"
    ></app-edit-button>
  </div>
</ng-template>
