<mat-list>
  @for (row of listData; let i = $index; track row[trackByKey]) {
    @if ((rowOpen | async) === i && editTemplate) {
      <ng-template
        [ngTemplateOutlet]="editTemplate"
        [ngTemplateOutletContext]="{ i: i }"
      ></ng-template>
    } @else {
      <mat-list-item>
        <span matListItemTitle>
          <ng-container
            [ngTemplateOutlet]="itemTitleTemplate"
            [ngTemplateOutletContext]="{ row: row }"
          ></ng-container>
        </span>
        <span matListItemLine>
          <ng-container
            [ngTemplateOutlet]="itemSubtitleTemplate"
            [ngTemplateOutletContext]="{ row: row }"
          ></ng-container>
        </span>
        <div matListItemMeta class="d-flex align-items-center">
          <app-edit-button
            color="accent"
            [disabled]="(rowOpen | async) !== undefined"
            (clicked)="handleEditButtonClicked(i)"
          ></app-edit-button>
          <app-delete-button
            [disabled]="(rowOpen | async) !== undefined"
            (clicked)="handleDeleteButtonClicked(i)"
          >
          </app-delete-button>
        </div>
      </mat-list-item>
    }
  }
</mat-list>
