<app-form-header
  [headerText]="formConfig.headerText"
  [headerButtonsTemplate]="headerButtonsTemplate"
></app-form-header>
<form [formGroup]="form" (ngSubmit)="submitted.emit()">
  <div class="w-100">
    <ng-template [ngTemplateOutlet]="formTemplate"></ng-template>
  </div>
  <app-form-button-bar [mode]="formConfig.mode">
    <app-submit-button
      *ngIf="!(formConfig.mode | inputReadonly)"
      [onlyIcon]="false"
    ></app-submit-button>
  </app-form-button-bar>
</form>

<ng-template #headerButtonsTemplate>
  <app-edit-button
    *ngIf="formConfig.mode | inputReadonly"
    [buttonRouterLink]="editButtonRouterLink"
  >
  </app-edit-button>
</ng-template>
