<app-card>
  <ng-container header>
    <div class="d-flex align-items-center justify-content-center">
      <h3>
        {{ widget.name }}
      </h3>
      <app-edit-button
        color="accent"
      ></app-edit-button>
    </div>
  </ng-container>
  <div class="content-container" content>
    <cdk-virtual-scroll-viewport
      itemSize="67"
      role="list"
      class="default-size scroll-container"
    >
      <a
        *cdkVirtualFor="let receipt of receipts"
        role="link"
        class="cursor-pointer item-size item-link"
        [routerLink]="['/receipts/' + receipt.id + '/view']"
      >
        <div matListItemTitle>{{ receipt.name }}</div>
        <div matListItemLine>
          {{ receipt.date | date }} - {{ receipt.amount | customCurrency }}
        </div>
        <hr/>
      </a>
      <mat-list-item *ngIf="receipts?.length === 0"
      >No receipts found
      </mat-list-item
      >
    </cdk-virtual-scroll-viewport>
  </div>
</app-card>
