<app-card>
  <ng-container header>
    <div class="d-flex align-items-center justify-content-center">
      <h3>
        {{ widget.name }}
      </h3>
      @if (receipts.length > 1) {
        <app-queue-start-menu
          [receipts]="receipts"
          matButtonType="iconButton"
          buttonIcon="queue_play_next"
          color="accent"
        >
        </app-queue-start-menu>
      }
    </div>
  </ng-container>
  <ng-container content>
    <app-dashboard-list
      noItemFoundText="No receipts found"
      [items]="receipts"
      [itemSize]="80"
      [itemAvatarTemplate]="itemAvatarTemplate"
      [itemHeaderTemplate]="itemHeaderTemplate"
      [itemLineTemplate]="itemLineTemplate"
      [buildRouterLinkString]="buildItemRouterLink"
      (endOfListReached)="endOfListReached()"
    ></app-dashboard-list>
  </ng-container>
</app-card>

<ng-template #itemAvatarTemplate let-item=item>
  <app-date-block
    [date]="item.createdAt"
  ></app-date-block>
</ng-template>

<ng-template #itemHeaderTemplate let-item=item>
  {{ item.name }}
</ng-template>


<ng-template #itemLineTemplate let-item=item>
  {{ item.amount | customCurrency }} paid by {{ (item.paidBy | user)?.displayName }} on {{ item.createdAt | date }}
</ng-template>


