<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    [formControl]="filterFormControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="displayWith"
    #auto="matAutocomplete"
  >
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="optionValueKey ? option[optionValueKey] : option"
      ><ng-template
        [ngTemplateOutlet]="optionTemplate"
        [ngTemplateOutletContext]="{
          option: option
        }"
      ></ng-template>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
