<form [formGroup]="form">
  <div class="d-flex flex-column">
    <app-input
      label="Name"
      [inputFormControl]="form | formGet : 'name'"
    ></app-input>
    <app-input
      label="Amount"
      type="number"
      [inputFormControl]="form | formGet : 'amount'"
    ></app-input>
    <app-autocomlete
      label="Categories"
      optionFilterKey="displayName"
      [inputFormControl]="form | formGet : 'categories'"
      [options]="categories"
      [optionTemplate]="categoryOptionTemplate"
      [optionChipTemplate]="categoryOptionTemplate"
      [multiple]="true"
    ></app-autocomlete>
    <app-input
      label="Tags"
      [inputFormControl]="form | formGet : 'tags'"
    ></app-input>
    <app-input
      label="Date"
      type="date"
      [inputFormControl]="form | formGet : 'date'"
    ></app-input>
    <app-autocomlete
      label="Paid by"
      optionFilterKey="displayName"
      optionValueKey="id"
      [inputFormControl]="form | formGet : 'paidBy'"
      [options]="(users | async) ?? []"
      [optionTemplate]="optionTemplate"
      [displayWith]="paidByDisplayWith.bind(this)"
    ></app-autocomlete>
    <app-input
      label="Is Resolved"
      [inputFormControl]="form | formGet : 'isResolved'"
    ></app-input>
  </div>
  <app-button type="submit" buttonText="Submit"></app-button>
</form>

<ng-template #optionTemplate let-option="option"
  >{{ option.displayName }}
</ng-template>

<ng-template #categoryOptionTemplate let-option="option"
  >{{ option.name }}
</ng-template>
