<mat-drawer-container class="h-100">
  <mat-drawer *ngIf="isLoggedIn | async" mode="side" opened>
    <div class="drawer-container">
      <app-avatar
        [user]="(loggedInUser | async) ?? $any({})"
        [matMenuTriggerFor]="menu"
      ></app-avatar>
      <mat-menu #menu="matMenu">
        <button *appRole="'ADMIN'" [routerLink]="['/users']" mat-menu-item>
          Manage Users
        </button>
        <button [routerLink]="['/groups']" mat-menu-item>Manage Groups</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    Main content
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
