@import "/node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../variables.scss";

:host {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

hr {
  color: $mat-drawer-background-color;
}
