<mat-drawer-container class="h-100">
  <mat-drawer *ngIf="isLoggedIn | async" mode="side" opened>
    <div class="drawer-container p-2">
      <app-avatar
        class="cursor-pointer"
        [user]="(loggedInUser | async) ?? $any({})"
        [matMenuTriggerFor]="menu"
      ></app-avatar>
    </div>
    <mat-menu #menu="matMenu">
      <button *appRole="'ADMIN'" [routerLink]="['/users']" mat-menu-item>
        Manage Users
      </button>
      <button [routerLink]="['/groups']" mat-menu-item>Manage Groups</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <hr class="mx-2" />
    <div *ngFor="let group of groups | async" class="p-2">
      <div class="d-flex align-items-center group-avatar-container">
        <div
          [ngClass]="{
            'active-group': (selectedGroupId | async) === group?.id?.toString()
          }"
          class="active-dot"
        ></div>
        <app-avatar
          class="cursor-pointer"
          [group]="group"
          (click)="groupClicked(group.id)"
        ></app-avatar>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
