<mat-form-field class="w-100">
  <mat-label>{{ label }}</mat-label>
  <textarea
    #nativeTextarea
    matInput
    id="textarea"
    [placeholder]="placeholder ?? ''"
    [readonly]="readonly"
    [formControl]="inputFormControl"
    [matAutocomplete]="auto"
    [matAutocompleteDisabled]="true"
    (selectionchange)="onSelectionChange()"
  ></textarea>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

  <mat-autocomplete
    #auto="matAutocomplete"
    [hideSingleSelectionIndicator]="true"
    (optionSelected)="onOptionSelected()"
  >
    <mat-option *ngFor="let option of filteredOptions" [value]="getOptionValue(option)">
      {{ option }}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngFor="let err of formControlErrors | async">{{
      err.message
    }}
  </mat-error>
</mat-form-field>
