<app-form
  [form]="form"
  [formConfig]="formConfig"
  [formTemplate]="formTemplate"
  [editButtonRouterLink]="['/settings/user-preferences/edit']"
  (submitted)="submit()"
></app-form>

<ng-template #formTemplate>
  <div class="w-100">
    <app-form-section
      *appFeature="'aiPoweredReceipts'"
      headerText="Quick scan defaults"
    >
      <app-group-autocomplete
        label="Default Group"
        [inputFormControl]="form | formGet : 'quickScanDefaultGroupId'"
        [readonly]="formConfig.mode | inputReadonly"
      >
      </app-group-autocomplete>
      <app-user-autocomplete
        label="Default Paid By"
        [inputFormControl]="form | formGet : 'quickScanDefaultPaidById'"
        [groupId]="form.get('quickScanDefaultGroupId')?.value"
        [selectGroupMembersOnly]="true"
        [readonly]="formConfig.mode | inputReadonly"
      ></app-user-autocomplete>
      <app-status-select
        aria-label="Default Status"
        [inputFormControl]="form | formGet : 'quickScanDefaultStatus'"
        [readonly]="true"
        [addBlankOption]="true"
      ></app-status-select>
    </app-form-section>
  </div>
</ng-template>
