<app-form
  [form]="form"
  [formConfig]="formConfig"
  [formTemplate]="formTemplate"
  [editButtonRouterLink]="['/settings/user-preferences/edit']"
  [editButtonQueryParams]="{tab: 'user-preferences'}"
  (submitted)="submit()"
></app-form>

<ng-template #formTemplate>
  <div class="w-100">
    <app-form-section headerText="Receipt preferences">
      <div class="mb-3">
        <app-checkbox
          class="mb-2"
          label="Default to show large image previews?"
          [inputFormControl]="form | formGet : 'showLargeImagePreviews'"
          [readonly]="formConfig.mode | inputReadonly"
        ></app-checkbox>
      </div>
    </app-form-section>
    <app-form-section
      *appFeature="'aiPoweredReceipts'"
      headerText="Quick scan defaults"
    >
      <app-group-autocomplete
        label="Default Group"
        [inputFormControl]="form | formGet : 'quickScanDefaultGroupId'"
        [readonly]="formConfig.mode | inputReadonly"
      >
      </app-group-autocomplete>
      <app-user-autocomplete
        label="Default Paid By"
        [inputFormControl]="form | formGet : 'quickScanDefaultPaidById'"
        [groupId]="form.get('quickScanDefaultGroupId')?.value"
        [selectGroupMembersOnly]="true"
        [readonly]="formConfig.mode | inputReadonly"
      ></app-user-autocomplete>
      <app-status-select
        aria-label="Default Status"
        [inputFormControl]="form | formGet : 'quickScanDefaultStatus'"
        [readonly]="true"
        [addBlankOption]="true"
      ></app-status-select>
    </app-form-section>
    <app-form-section
      headerText="Shortcuts"
      [headerButtonsTemplate]="shortcutHeaderButtons"
    >
      <app-editable-list
        trackByKey=""
        [listData]="userShortcuts.controls"
        [itemTitleTemplate]="itemTitleTemplate"
        [itemSubtitleTemplate]="itemSubtitleTemplate"
        [editTemplate]="editTemplate"
      ></app-editable-list>
    </app-form-section>
  </div>
</ng-template>

<ng-template #itemTitleTemplate let-row="row">
  {{ row.title }}
</ng-template>

<ng-template #itemSubtitleTemplate let-row="row">
  {{ row.url }}
</ng-template>

<ng-template
  #editTemplate
  let-i="i"
>
  <app-card>
    <ng-container content>
      <app-input
        label="Url"
        [inputFormControl]="form | formGet : 'userShortcuts.' + i + '.url'"
      ></app-input>
      <app-icon-autocomplete
        label="Icon"
        [inputFormControl]="form | formGet : 'userShortcuts.' + i + '.icon'"
      ></app-icon-autocomplete>
    </ng-container>
  </app-card>
</ng-template>


<ng-template #shortcutHeaderButtons>
  @if (formConfig.mode === FormMode.edit) {
    {{ (editableListComponent?.getCurrentRowOpen() ?? -1) }}
    <app-add-button
      tooltip="Add shortcut"
      [disabled]="(editableListComponent?.getCurrentRowOpen() ?? -1) >= 0"
      (clicked)="addNewShortcut()"
    ></app-add-button>
  }
</ng-template>
