@use "../../variables" as variables;

app-share-list {
  .item-form-container:nth-child(even) {
    background-color: #efefef;
  }

  .item-form-container:nth-child(odd) {
    background-color: #f6f6f6;
  }

  .green-check {
    .mat-mdc-icon-button {
      color: variables.$success-green !important;
    }
  }
}
