@if (isAdding) {
  <app-card
    cardStyle="w-100 mb-2"
  >
    <ng-container header>
      Add Share
    </ng-container>
    <div content>
      <app-user-autocomplete
        label="Shared with"
        [inputFormControl]="newItemFormGroup | formGet : 'chargedToUserId'"
        [groupId]="(form | formGet : 'groupId').value"
        [readonly]="mode | inputReadonly"
      ></app-user-autocomplete>
      <div class="row g-0 mt-2">
        <app-input
          label="Name"
          class="col"
          [inputFormControl]="newItemFormGroup | formGet : 'name'"
        >
        </app-input>
        <app-input
          label="Amount"
          class="col"
          type="text"
          [isCurrency]="true"
          [inputFormControl]="newItemFormGroup | formGet : 'amount'"
          [readonly]="mode | inputReadonly"
        >
        </app-input>

        @if (!selectedGroup?.groupReceiptSettings?.hideItemCategories) {
          <app-category-autocomplete
            [categories]="categories"
            [inputFormControl]="newItemFormGroup | formGet : 'categories'"
            [readonly]="mode | inputReadonly"
          ></app-category-autocomplete>
        }

        @if (!selectedGroup?.groupReceiptSettings?.hideItemTags) {
          <app-tag-autocomplete
            [tags]="tags"
            [inputFormControl]="newItemFormGroup | formGet : 'tags'"
            [readonly]="mode | inputReadonly"
          ></app-tag-autocomplete>
        }
        <app-dialog-footer
          submitButtonTooltip="Done"
          (submitClicked)="submitNewItemFormGroup()"
          (cancelClicked)="exitAddMode()"
        ></app-dialog-footer>
      </div>
    </div>
  </app-card>
}
<mat-accordion multi>
  @if (userItemMap.size === 0 && mode === formMode.view) {
    <div>No shares for this receipt</div>
  }
  <mat-expansion-panel
    #userExpansionPanel
    *ngFor="let key of userItemMap | mapKey; let i = index"
    (opened)="addInlineItem(key)"
    (closed)="checkLastInlineItem(key)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ (key | user)?.displayName }}
      </mat-panel-title>
      <mat-panel-description>
        <div class="d-flex justify-content-between align-items-center w-100">
          <span>Total amount owed: {{ (userItemMap | userTotal : key) | customCurrency }}</span>
          @if (originalReceipt?.groupId | groupRole : groupRole.Editor) {
            <app-button
              matButtonType="iconButton"
              icon="check"
              tooltip="Resolve all user's items"
              [disabled]="mode === formMode.view"
              [ngClass]="{
                'green-check': allUserItemsResolved(key)
              }"
              (clicked)="resolveAllItemsClicked($event, key)"
            ></app-button>
          }
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container
      *ngFor="let itemData of userItemMap | mapGet : key; let i = index"
    >
      <app-card
        cardStyle="mb-2"
      >
        <div content class="d-flex flex-column item-form-container">
          <div class="d-flex justify-content-end">
            @if (!(mode | inputReadonly)) {
              <app-delete-button
                tooltip="Remove Share"
                [disabled]="
              !(originalReceipt?.groupId | groupRole : groupRole.Editor)
            "
                (clicked)="removeItem(itemData)"
              ></app-delete-button>
            }
          </div>
          <div class="row g-0">
            <app-input
              class="col"
              #nameField
              label="Name"
              [inputId]="'name-' + i"
              [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.name'
            "
              [readonly]="mode | inputReadonly"
              (inputBlur)="addInlineItemOnBlur(key, i)"
            >
            </app-input>
            <app-input
              class="col"
              label="Amount"
              [isCurrency]="true"
              [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.amount'
            "
              [readonly]="mode | inputReadonly"
              (inputBlur)="addInlineItemOnBlur(key, i)"
            >
            </app-input>
            <app-select
              class="col"
              label="Status"
              optionValueKey="value"
              optionDisplayKey="displayValue"
              [inputFormControl]="
              form | formGet : 'receiptItems.' + itemData.arrayIndex + '.status'
            "
              [readonly]="mode | inputReadonly"
              [options]="itemStatusOptions"
              (inputBlur)="addInlineItemOnBlur(key, i)"
            >
            </app-select>
            @if (!selectedGroup?.groupReceiptSettings?.hideItemCategories) {
              <app-category-autocomplete
                [categories]="categories"
                [inputFormControl]="form | formGet : 'receiptItems.' + itemData.arrayIndex + '.categories'"
                [readonly]="mode | inputReadonly"
              ></app-category-autocomplete>
            }

            @if (!selectedGroup?.groupReceiptSettings?.hideItemTags) {
              <app-tag-autocomplete
                [tags]="tags"
                [inputFormControl]="form | formGet : 'receiptItems.' + itemData.arrayIndex + '.tags'"
                [readonly]="mode | inputReadonly"
              ></app-tag-autocomplete>
            }
          </div>
        </div>
      </app-card>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
