<div [ngSwitch]="matButtonType">
  <button
    mat-raised-button
    *ngSwitchCase="'matRaisedButton'"
    class="w-100"
    [type]="type"
    [color]="color"
    [disabled]="disabled"
    [matTooltip]="tooltip"
    [routerLink]="buttonRouterLink"
    (click)="emitClicked()"
  >
    {{ buttonText }}
  </button>

  <button
    mat-icon-button
    *ngSwitchCase="'iconButton'"
    class="w-100"
    [type]="type"
    [color]="color"
    [disabled]="disabled"
    [routerLink]="buttonRouterLink"
    [matTooltip]="tooltip"
    (click)="emitClicked()"
  >
    <mat-icon *ngIf="customIcon" [svgIcon]="customIcon"></mat-icon>
    <mat-icon *ngIf="icon">
      {{ icon }}
    </mat-icon>
  </button>
</div>
