<app-dialog [headerText]="headerText">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex flex-column">
      <app-input
        label="Name"
        [inputFormControl]="form | formGet : 'name'"
      ></app-input>
      <app-input
        label="Description"
        [inputFormControl]="form | formGet : 'description'"
      ></app-input>
    </div>

    <app-dialog-footer
      (submitClicked)="submit()"
      (cancelClicked)="closeDialog()"
    ></app-dialog-footer>
  </form>
</app-dialog>
