/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;

@import "../node_modules/bootstrap/dist/css/bootstrap-utilities.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-snackbar {
  color: white;

  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }
}
.success-snackbar {
  color: white;

  .mdc-snackbar__surface {
    background-color: green !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }
}
