<div class="d-flex flex-column mb-3">
  <span
    *ngIf="data?.createdBy || data?.createdByString"
    class="mb-1"
  >
    Added by:
    <ng-container *ngIf="data?.createdByString">{{ data?.createdByString }}</ng-container>
    <ng-container *ngIf="data?.createdBy">{{ (data?.createdBy?.toString() | user)?.displayName }}</ng-container>
  </span>
  <span class="mb-1">Added at: {{ data?.createdAt | date : "medium" }}</span>
  <span>Updated at: {{ data?.updatedAt | date : "medium" }}</span>
  <ng-container *ngIf="data?.resolvedDate">
    <span class="mt-2">
      Resolved at:
      {{ data?.resolvedDate | date : "medium" }}
    </span>
  </ng-container>
</div>
