<div class="p-4">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="mt-0">Set Password for {{ user.displayName }}</h2>
    <app-input
      label="Password"
      type="password"
      [inputFormControl]="form | formGet : 'password'"
      [showVisibilityEye]="true"
    ></app-input>
    <div class="d-flex justify-content-end align-items-center">
      <app-submit-button></app-submit-button>
      <app-cancel-button (clicked)="closeModal()"></app-cancel-button>
    </div>
  </form>
</div>
