<app-table-header [headerText]="headerText">
  <!-- <app-add-button (clicked)="openAddDialog()"> </app-add-button> -->
</app-table-header>
<div class="table-container">
  <app-table
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [dataSource]="dataSource"
    [pagination]="true"
    [length]="totalCount"
    (sorted)="sorted($event)"
    (pageChange)="updatePageData($event)"
  ></app-table>
</div>

<ng-template #nameCell let-element="element">{{ element.name }} </ng-template>

<ng-template #descriptionCell let-element="element"
  >{{ element.description }}
</ng-template>

<ng-template #numberOfReceiptsCell let-element="element"
  >{{ element.numberOfReceipts }}
</ng-template>

<ng-template #actionsCell let-element="element" let-index="index">
  <app-edit-button
    *appRole="'ADMIN'"
    color="accent"
    (clicked)="openEditDialog(element)"
  ></app-edit-button>
  <!-- <app-delete-button
    *appRole="'ADMIN'"
    color="accent"
    (clicked)="openDeleteConfirmationDialog(element)"
  ></app-delete-button> -->
</ng-template>
