<app-button
  *ngIf="onlyIcon"
  icon="done"
  matButtonType="iconButton"
  buttonClass="mat-success-icon"
  [type]="type || 'submit'"
  [tooltip]="tooltip ?? 'Save'"
  (clicked)="clicked.emit()"
  [disabled]="mode === formMode.view || disabled"
></app-button>

<app-button
  *ngIf="!onlyIcon"
  icon="done"
  matButtonType="matRaisedButton"
  [buttonText]="buttonText ?? 'Save'"
  type="submit"
  [buttonClass]="disabled ? '' : 'mat-success-full'"
  [tooltip]="tooltip ?? 'Save'"
  (clicked)="clicked.emit()"
  [disabled]="mode === formMode.view || disabled"
></app-button>
