<cdk-virtual-scroll-viewport
  [itemSize]="67"
  role="list"
  class="default-size scroll-container"
>
  <mat-list>
    @if (items?.length === 0) {
      <mat-list-item class="item-size" *ngIf="items?.length === 0">
        {{ noItemFoundText }}
      </mat-list-item>
    } @else {
      <mat-list-item
        *cdkVirtualFor="let item of items"
        role="link"
        class="cursor-pointer item-link border-bottom border-gray-200"
        [style.height.px]="itemSize"
        [routerLink]="[buildRouterLinkString(item)]"
      >
        <div matListItemTitle>
          <ng-template
            [ngTemplateOutlet]="itemHeaderTemplate"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-template>
        </div>
        <div matListItemLine>
          <ng-template
            [ngTemplateOutlet]="itemLineTemplate"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-template>
        </div>

        @if (itemLineTemplate2) {
          <div matListItemLine>
            <ng-template
              [ngTemplateOutlet]="itemLineTemplate2"
              [ngTemplateOutletContext]="{ item: item }"
            ></ng-template>
          </div>
        }

        @if (itemAvatarTemplate) {
          <div matListItemAvatar>
            <ng-template
              [ngTemplateOutlet]="itemAvatarTemplate"
              [ngTemplateOutletContext]="{ item: item }"
            ></ng-template>
          </div>
        }
      </mat-list-item>
    }
  </mat-list>
</cdk-virtual-scroll-viewport>
