<app-form-header
  [headerText]="formConfig.headerText"
  [bottomSpacing]="true"
  [headerButtonsTemplate]="headerButtons"
></app-form-header>
<form [formGroup]="form" (ngSubmit)="submit()">
  <app-audit-detail-section
    [data]="originalSystemEmail"
    [formMode]="formConfig.mode">
  </app-audit-detail-section>
  <app-form-section headerText="Details">
    <app-input
      label="Host"
      [inputFormControl]="form | formGet: 'host'"
    ></app-input>
    <app-input
      label="Port"
      [inputFormControl]="form | formGet: 'port'"
    ></app-input>
    <app-input
      label="Username"
      [inputFormControl]="form | formGet: 'username'"
    ></app-input>
    <app-input
      *ngIf="formConfig.mode != FormMode.view"
      label="Password"
      [inputFormControl]="form | formGet: 'password'"
      [showVisibilityEye]="true"
    ></app-input>
    <app-form-button-bar [mode]="formConfig.mode">
      <app-submit-button
        *ngIf="!(formConfig.mode | inputReadonly)"
        class="mb-4"
        [onlyIcon]="false"
      ></app-submit-button>
    </app-form-button-bar>

  </app-form-section>
  <app-form-section
    *ngIf="formConfig.mode != FormMode.add"
    headerText="System Tasks"
  >
    <app-task-table
      [associatedEntityType]="AssociatedEntityType.SystemEmail"
      [associatedEntityId]="originalSystemEmail?.id"
    ></app-task-table>
  </app-form-section>
</form>

<ng-template #headerButtons>
  <app-edit-button
    *ngIf="formConfig.mode == FormMode.view"
    color="accent"
    [routerLink]="['/system-settings/system-emails/' + originalSystemEmail?.id + '/edit']"
  ></app-edit-button>
  <app-button
    color="accent"
    matButtonType="iconButton"
    icon="mail"
    tooltip="Check Email Connectivity"
    [disabled]="(formConfig.mode == FormMode.add || formConfig.mode == FormMode.edit) && form.invalid"
    (clicked)="checkEmailConnectivity()"
  ></app-button>
</ng-template>
