<app-form-header
  [headerText]="formConfig.headerText"
  [bottomSpacing]="true"
  [headerButtonsTemplate]="headerButtons"
></app-form-header>
<form [formGroup]="form" (ngSubmit)="submit()">
  <app-audit-detail-section
    [data]="originalSystemEmail"
    [formMode]="formConfig.mode">
  </app-audit-detail-section>
  <app-form-section headerText="Details">
    <app-input
      label="Host"
      [inputFormControl]="form | formGet: 'host'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-input
      label="Port"
      [inputFormControl]="form | formGet: 'port'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-input
      label="Username"
      [inputFormControl]="form | formGet: 'username'"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
    <app-input
      *ngIf="formConfig.mode != FormMode.view"
      label="Password"
      [inputFormControl]="form | formGet: 'password'"
      [showVisibilityEye]="true"
      [readonly]="formConfig.mode | inputReadonly"
    ></app-input>
  </app-form-section>
  <app-form-section
    *ngIf="formConfig.mode != FormMode.add"
    headerText="System Tasks"
  >
    <app-task-table
      [associatedEntityType]="AssociatedEntityType.SystemEmail"
      [associatedEntityId]="originalSystemEmail.id"
      [expandedRowTemplate]="expandedRowTemplate"
    ></app-task-table>
  </app-form-section>
  <app-form-button-bar [mode]="formConfig.mode">
    <app-submit-button
      *ngIf="!(formConfig.mode | inputReadonly)"
      class="mb-4"
      [onlyIcon]="false"
    ></app-submit-button>
  </app-form-button-bar>
</form>

<ng-template #headerButtons>
  <app-edit-button
    *ngIf="formConfig.mode == FormMode.view"
    color="accent"
    [routerLink]="['/system-settings/system-emails/' + originalSystemEmail.id + '/edit']"
  ></app-edit-button>
  <app-button
    color="accent"
    matButtonType="iconButton"
    icon="wifi"
    tooltip="Check Email Connectivity"
    [disabled]="(formConfig.mode == FormMode.add || formConfig.mode == FormMode.edit) && form.invalid"
    (clicked)="checkEmailConnectivity()"
  ></app-button>
</ng-template>

<ng-template
  #expandedRowTemplate
  let-element="element"
>
  <app-system-email-child-system-task
    [childTasks]="element.childSystemTasks ?? []"
    [allReceiptProcessingSettings]="allReceiptProcessingSettings"
  ></app-system-email-child-system-task>
</ng-template>
