<div class="p-4">
  <h2>Switch Group</h2>
  <form (ngSubmit)="submit()">
    <app-autocomlete
      label="Group"
      optionFilterKey="name"
      optionValueKey="id"
      [options]="(groups | async) ?? []"
      [displayWith]="displayWith.bind(this)"
      [inputFormControl]="formControl"
    ></app-autocomlete>
    <div class="d-flex justify-content-end align-items-center">
      <app-submit-button></app-submit-button>
      <app-cancel-button (clicked)="closeDialog()"></app-cancel-button>
    </div>
  </form>
</div>
