<mat-list role="list">
  <strong class="mb-2">{{ headerText }}</strong>
  <div class="mb-2" *ngIf="array.length === 0">{{ nothingToDisplayText }}</div>
  <mat-list-item
    class="w-100 h-100"
    *ngFor="let item of array; let index = index; let last = last"
    role="listitem"
  >
    <div class="d-flex align-items-center justify-content-center">
      <div class="w-100 mb-2">
        <ng-template
          [ngTemplateOutlet]="
            editingIndex === index ? itemEditTemplate : itemDisplayTemplate
          "
          [ngTemplateOutletContext]="{
            index: index
          }"
        ></ng-template>
      </div>
      <div *ngIf="editingIndex !== index && !disabled">
        <app-edit-button
          color="accent"
          (clicked)="onItemEditButtonClicked(index)"
        ></app-edit-button>
        <app-delete-button
          (clicked)="onItemDeleteButtonClicked(index)"
        ></app-delete-button>
      </div>
      <div *ngIf="editingIndex === index" class="d-flex ms-2 w-25">
        <app-submit-button
          tooltip="Done"
          [onlyIcon]="true"
          [type]="'button'"
          (clicked)="onDoneButtonClicked(index)"
        ></app-submit-button>
        <app-cancel-button
          (clicked)="onItemCancelButtonClicked(index)"
        ></app-cancel-button>
      </div>
    </div>
    <ng-container *ngIf="!last">
      <hr />
    </ng-container>
  </mat-list-item>
  <div class="w-50">
    <app-button
      color="accent"
      [buttonText]="addButtonText"
      [disabled]="editingIndex !== -1 || disabled"
      (clicked)="onAddButtonClicked()"
    ></app-button>
  </div>
</mat-list>
