<div class="container" *ngFor="let widget of selectedDashboard?.widgets">
  <div class="row" [ngSwitch]="widget.widgetType">
    <div
      *ngSwitchCase="WidgetType.GROUPSUMMARY"
      class="col"
      [ngTemplateOutlet]="summaryCard"
    ></div>
    <div
      *ngSwitchCase="WidgetType.FILTEREDRECEIPTS"
      class="col"
      [ngTemplateOutlet]="filteredReceipts"
      [ngTemplateOutletContext]="{ widgetToDisplay: widget }"
    ></div>
  </div>
</div>

<ng-template #summaryCard>
  <app-summary-card
    headerText="Receipt Summary"
    [groupId]="(selectedGroupId | async) ?? ''"
  ></app-summary-card>
</ng-template>

<ng-template #filteredReceipts let-widgetToDisplay="widgetToDisplay">
  <app-filtered-receipts [widget]="widgetToDisplay"></app-filtered-receipts>
</ng-template>
