<app-dialog headerText="Quick Actions">
  <div class="mb-2">
    <app-radio-group
      [inputFormControl]="localForm | formGet : 'quickAction'"
      [radioButtonData]="radioValues"
    ></app-radio-group>
  </div>

  <form [formGroup]="localForm">
    <app-user-autocomplete
      label="Users to Split Between"
      [inputFormControl]="localForm | formGet : 'usersToSplit'"
      [multiple]="true"
      [usersToOmit]="usersToOmit"
    >
    </app-user-autocomplete>
    <ng-container [ngSwitch]="(localForm | formGet : 'quickAction')?.value">
      <div *ngSwitchCase="radioValues[1].value">
        <div *ngFor="let user of (localForm | formGet : 'usersToSplit').value">
          <app-input
            [label]="user.displayName + '`s Portion'"
            [isCurrency]="true"
            [inputFormControl]="localForm | formGet : user.id.toString()"
          ></app-input>
        </div>
      </div>
    </ng-container>
    <app-dialog-footer
      submitButtonTooltip="Split"
      (submitClicked)="addSplits()"
      (cancelClicked)="closeDialog()"
    ></app-dialog-footer>
  </form>
</app-dialog>
