<app-dialog headerText="Quick Actions">
  <div class="mb-2">
    <app-radio-group
      [inputFormControl]="localForm | formGet : 'quickAction'"
      [radioButtonData]="radioValues"
    ></app-radio-group>
  </div>

  <form [formGroup]="localForm">
    <app-user-autocomplete
      label="Users to Split Between"
      [inputFormControl]="localForm | formGet : 'usersToSplit'"
      [multiple]="true"
      [usersToOmit]="usersToOmit"
    >
    </app-user-autocomplete>
    <ng-container [ngSwitch]="(localForm | formGet : 'quickAction')?.value">
      <div *ngSwitchCase="radioValues[1].value">
        <div *ngFor="let user of (localForm | formGet : 'usersToSplit').value">
          <app-input
            [label]="user.displayName + '`s Portion'"
            [isCurrency]="true"
            [inputFormControl]="localForm | formGet : user.id.toString()"
          ></app-input>
        </div>
      </div>
      <div *ngSwitchCase="radioValues[2].value">
        <div *ngFor="let user of (localForm | formGet : 'usersToSplit').value" class="mb-3">
          <h6>{{ user.displayName }}</h6>
          <div class="d-flex flex-wrap gap-2 mb-2">
            <button
              *ngFor="let percentage of percentageOptions"
              type="button"
              class="btn btn-outline-primary btn-sm"
              [class.active]="(localForm | formGet : user.id.toString() + '_percentage')?.value === percentage && !(localForm | formGet : user.id.toString() + '_customPercentage')?.value"
              (click)="setPercentage(user.id.toString(), percentage)"
            >
              {{ percentage }}%
            </button>
          </div>
          <div class="d-flex align-items-center gap-2">
            <app-checkbox
              label="Custom"
              [inputFormControl]="localForm | formGet : user.id.toString() + '_customPercentage'"
            ></app-checkbox>
            <app-input
              label="Custom Percentage"
              type="number"
              [numberMin]="1"
              [numberMax]="100"
              [inputFormControl]="localForm | formGet : user.id.toString() + '_percentage'"
              [additionalErrorMessages]=""
              class="flex-grow-1"
            ></app-input>
          </div>
        </div>
      </div>
    </ng-container>
    <app-dialog-footer
      submitButtonTooltip="Split"
      (submitClicked)="addSplits()"
      (cancelClicked)="closeDialog()"
    ></app-dialog-footer>
  </form>
</app-dialog>
