<app-dialog headerText="Filter Receipts">
  <ng-template
    [ngTemplateOutlet]="filterField"
    [ngTemplateOutletContext]="{
      label: 'Name',
      fieldName: 'name',
      type: 'text'
    }"
  ></ng-template>

  <ng-template
    [ngTemplateOutlet]="filterField"
    [ngTemplateOutletContext]="{
      label: 'Amount',
      fieldName: 'amount',
      type: 'number',
      isCurrency: true
    }"
  ></ng-template>

  <app-input
    label="Paid by"
    [inputFormControl]="form | formGet : 'paidBy.value'"
  ></app-input>

  <app-dialog-footer
    (submitClicked)="submitButtonClicked()"
    (cancelClicked)="cancelButtonClicked()"
  ></app-dialog-footer>
</app-dialog>

<ng-template
  #filterField
  let-label="label"
  let-fieldName="fieldName"
  let-type="type"
  let-isCurrency="isCurrency"
>
  <div class="row g-1">
    <app-input
      class="col"
      [label]="label"
      [isCurrency]="isCurrency"
      [inputFormControl]="form | formGet : fieldName + '.value'"
    ></app-input>
    <app-select
      class="col"
      label="Operation"
      [inputFormControl]="form | formGet : fieldName + '.operation'"
      [options]="type | operations"
    ></app-select>
  </div>
</ng-template>
