<form class="form">
  <mat-form-field class="example-full-width" appearance="outline">
    <span matPrefix><mat-icon>search</mat-icon></span>
    <input
      type="text"
      matInput
      placeholder="Search receipts"
      [formControl]="searchFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let result of results"
        [value]="result.name"
        (click)="navigateToResult(result)"
      >
        <div>
          {{ result.name }}
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
