<div class="d-flex flex-column">
  <app-table-header headerText="Emails">
    <app-add-button
      tooltip="Add email"
    ></app-add-button>
  </app-table-header>
  <div class="table-container">
    <app-table
      [dataSource]="dataSource"
      [columns]="columns"
      [displayedColumns]="displayedColumns"
      [pagination]="true"
      [length]="totalCount"
      (sorted)="sorted($event)"
      (pageChange)="pageChanged($event)"
    ></app-table>
  </div>
</div>

<ng-template #usernameCell let-element="element">
  {{ element.username }}
</ng-template>

<ng-template #hostCell let-element="element">
  {{ element.host }}
</ng-template>

<ng-template #createdAtCell let-element="element">
  {{ element.createdAt | date : "short" }}
</ng-template>

<ng-template #updatedAtCell let-element="element">
  {{ element.updatedAt | date : "short" }}
</ng-template>

<ng-template #actionsCell let-element="element" let-index="index">
  <div class="d-flex align-items-center">
  </div>
</ng-template>
