/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;

@include mat.core();
@import "material-icons/iconfont/filled.css";
@import "material-icons/iconfont/outlined.css";
@import "@fontsource/raleway";
@import "./variables.scss";

.cursor-pointer {
  cursor: pointer !important;
}

$font-family: Raleway, sans-serif;

$my-primary: mat.m2-define-palette($primary-palette);
$my-accent: mat.m2-define-palette($accent-palette);
$my-warn: mat.m2-define-palette($warn-palette);

$my-typography: mat.m2-define-typography-config(
  $font-family: $font-family,
);

$my-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),
      typography: $my-typography,
    )
);

@include mat.all-component-themes($my-theme);

.mat-typography {
  font-family: $font-family !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.content-width {
  // TODO: Revisit min-width: 75%;
  width: 100% !important;
  // emax-width: 100%;
}

.error-snackbar {
  color: white;

  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }
}

.success-snackbar {
  color: white;

  .mdc-snackbar__surface {
    background-color: green !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }
}

// Global Style Changes
hr {
  color: $mat-drawer-background-color;
  width: 100%;
}

ngb-popover-window {
  box-shadow: $global-shadow;
}

.mat-mdc-card {
  box-shadow: $global-shadow !important;
}

.mat-mdc-raised-button {
  box-shadow: $global-shadow !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: $global-shadow !important;
}

.mat-datepicker-content {
  box-shadow: $global-shadow !important;
}

.mdc-switch__shadow {
  box-shadow: $global-shadow !important;
}

.table-container {
  box-shadow: $global-shadow;
}

.mat-mdc-fab {
  box-shadow: $global-shadow !important;
}

.mat-mdc-raised-button.mat-primary {
  color: white !important;
}

.json-string {
  white-space: normal !important;
}

h1, h2, h3 {
  margin: 0 !important;
}


