@import "../../variables.scss";

$zone-border: dotted 2px map-get($primary-palette, 400) !important;

.file-upload-zone {
  width: 100%;
  height: 200px;
  border: dotted 2px #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.file-upload-zone:focus {
  border: $zone-border;
  background-color: lightgray;
}

.file-upload-zone:hover {
  border: $zone-border;
  background-color: lightgray;
}

.carousel-container {
  max-height: 200px;
}
