<form class="mb-4" [formGroup]="form" (ngSubmit)="submit()">
  <app-form-header
    [headerText]="headerText"
    [buttonRouterLink]="[(receiptListLink | async) ?? '']"
    [headerButtonsTemplate]="formHeaderButtons"
  ></app-form-header>
  <div class="row g-1">
    <app-upload-image
      [images]="images"
      [mode]="mode"
      [receiptId]="originalReceipt?.id?.toString()"
    >
    </app-upload-image>
    <div
      *ngIf="images && (images?.length ?? 0 > 0) && showImages"
      class="col-3"
    >
      <ng-container *ngIf="imagesLoading">
        <div class="d-flex justify-content-center align-items-center">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
      <app-carousel
        [images]="images"
        [mode]="mode"
        [disabled]="mode !== formMode.edit"
        (removeButtonClicked)="removeImage($event)"
      ></app-carousel>
    </div>
    <div class="col g-4">
      <ng-container *ngIf="mode !== formMode.add">
        <app-form-section headerText="Audit Details" [indent]="false">
          <div class="d-flex flex-column mb-3">
            <span *ngIf="originalReceipt?.createdBy" class="mb-1">
              Added by:
              {{ (originalReceipt?.createdBy?.toString() | user)?.displayName }}
            </span>
            <span class="mb-1">
              Added at: {{ originalReceipt?.createdAt | date : "medium" }}
            </span>
            <span>
              Updated at: {{ originalReceipt?.updatedAt | date : "medium" }}
            </span>
          </div>
        </app-form-section>
      </ng-container>
      <app-form-section headerText="Details" [indent]="false">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <app-input
            class="w-100"
            label="Name"
            [inputFormControl]="form | formGet : 'name'"
            [readonly]="mode | inputReadonly"
          ></app-input>
          <app-input
            class="w-100"
            label="Amount"
            type="text"
            [isCurrency]="true"
            [inputFormControl]="form | formGet : 'amount'"
            [readonly]="mode | inputReadonly"
          ></app-input>
          <app-autocomlete
            class="w-100"
            label="Categories"
            optionFilterKey="name"
            creatableValueKey="name"
            [inputFormControl]="form | formGet : 'categories'"
            [options]="categories"
            [optionTemplate]="categoryOptionTemplate"
            [optionChipTemplate]="categoryOptionTemplate"
            [multiple]="true"
            [creatable]="true"
            [readonly]="mode | inputReadonly"
          ></app-autocomlete>
          <app-autocomlete
            class="w-100"
            label="Tags"
            optionFilterKey="name"
            creatableValueKey="name"
            [inputFormControl]="form | formGet : 'tags'"
            [options]="tags"
            [optionTemplate]="tagOptionTemplate"
            [optionChipTemplate]="tagOptionTemplate"
            [multiple]="true"
            [creatable]="true"
            [readonly]="mode | inputReadonly"
          ></app-autocomlete>
          <app-datepicker
            label="Date"
            class="w-100"
            [inputFormControl]="form | formGet : 'date'"
            [readonly]="mode | inputReadonly"
          ></app-datepicker>
          <app-autocomlete
            class="w-100"
            label="Group"
            optionFilterKey="name"
            optionValueKey="id"
            [inputFormControl]="form | formGet : 'groupId'"
            [options]="(groups | async) ?? []"
            [optionTemplate]="groupOptionTemplate"
            [readonly]="mode | inputReadonly"
            [displayWith]="groupDisplayWith.bind(this)"
          ></app-autocomlete>
          <app-user-autocomplete
            #paidByAutocomplete
            class="w-100"
            label="Paid By"
            [inputFormControl]="form | formGet : 'paidByUserId'"
            [usersToOmit]="usersToOmit"
            [readonly]="mode | inputReadonly"
          ></app-user-autocomplete>
          <app-select
            class="w-100"
            label="Status"
            [inputFormControl]="form | formGet : 'status'"
            [readonly]="mode | inputReadonly"
            [options]="receiptStatusOptions"
          ></app-select>
        </div>
      </app-form-section>
      <app-form-section
        headerText="Shares"
        [indent]="false"
        [headerButtonsTemplate]="sharesSectionHeaderButtons"
      >
        <app-item-list [form]="form"></app-item-list>
      </app-form-section>
    </div>
  </div>
  <div class="mt-3">
    <app-receipt-comments
      [receiptId]="originalReceipt?.id"
      [comments]="originalReceipt?.comments ?? []"
      [mode]="mode"
      (commentsUpdated)="updateComments($event)"
    ></app-receipt-comments>
  </div>

  <app-form-button-bar [mode]="mode">
    <app-button
      *ngIf="!(mode | inputReadonly)"
      class="mb-4"
      color="accent"
      matButtonType="iconButton"
      icon="photo_library"
      tooltip="Upload Image(s)"
      [disabled]="!(originalReceipt?.groupId | groupRole : groupRole.EDITOR)"
      (clicked)="uploadImageButtonClicked()"
    ></app-button>
    <app-button
      *ngIf="images && (images?.length ?? 0 > 0)"
      class="mb-4"
      color="accent"
      matButtonType="iconButton"
      [icon]="showImages ? 'visibility_off' : 'visibility'"
      [tooltip]="showImages ? 'Hide Images' : 'Show Images'"
      (clicked)="toggleShowImages()"
    ></app-button>
    <app-submit-button
      *ngIf="!(mode | inputReadonly)"
      class="mb-4"
      [onlyIcon]="false"
      [mode]="mode"
      [disabled]="!(originalReceipt?.groupId | groupRole : groupRole.EDITOR)"
    ></app-submit-button>
  </app-form-button-bar>
</form>

<ng-template #categoryOptionTemplate let-option="option"
  >{{ option.name }}
</ng-template>

<ng-template #tagOptionTemplate let-option="option"
  >{{ option.name }}
</ng-template>

<ng-template #groupOptionTemplate let-option="option"
  >{{ option.name }}
</ng-template>

<ng-template #successDuplciateSnackbar>
  <div class="d-flex justify-content-end align-items-center">
    <span class="me-4">
      Receipt successfully duplicated. Click navigate to view duplicated
      receipt.
    </span>
    <app-button
      buttonText="Navigate"
      matButtonType="basic"
      color="secondary"
      [buttonRouterLink]="['/receipts/' + duplicatedReceiptId + '/view']"
      (clicked)="closeSuccessDuplicateSnackbar()"
    ></app-button>
  </div>
</ng-template>

<ng-template #quickActionsDialog>
  <app-quick-actions-dialog
    cdkDrag
    cdkDragHandle
    cdkDragRootElement=".cdk-overlay-pane"
    [parentForm]="form"
    [originalReceipt]="originalReceipt"
    [usersToOmit]="usersToOmit"
  ></app-quick-actions-dialog>
</ng-template>

<ng-template #formHeaderButtons>
  <app-button
    *ngIf="mode | inputReadonly"
    class="ms-1"
    color="accent"
    matButtonType="iconButton"
    tooltip="Edit"
    icon="edit"
    [disabled]="!(originalReceipt?.groupId | groupRole : groupRole.EDITOR)"
    [routerLink]="[editLink]"
  ></app-button>
  <app-button
    *ngIf="mode | inputReadonly"
    class="ms-1"
    color="accent"
    matButtonType="iconButton"
    tooltip="Duplicate"
    icon="file_copy"
    [disabled]="!(originalReceipt?.groupId | groupRole : groupRole.EDITOR)"
    (clicked)="duplicateReceipt()"
  ></app-button>
</ng-template>

<ng-template #sharesSectionHeaderButtons>
  <app-button
    *ngIf="!(mode | inputReadonly)"
    type="button"
    matButtonType="iconButton"
    icon="add"
    tooltip="Add share"
    color="accent"
    (clicked)="initItemListAddMode()"
    [disabled]="!(originalReceipt?.groupId | groupRole : groupRole.EDITOR)"
  ></app-button>
  <app-button
    *ngIf="!(mode | inputReadonly)"
    class="mb-4"
    customIcon="split"
    color="accent"
    matButtonType="iconButton"
    tooltip="Quick Actions"
    [disabled]="!(originalReceipt?.groupId | groupRole : groupRole.EDITOR)"
    (clicked)="openQuickActionsModal()"
  ></app-button>
</ng-template>
