<mat-form-field class="w-100">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [formControl]="inputFormControl"
    (blur)="inputBlur.emit($event)"
    readonly
  >
    <mat-option *ngIf="addEmptyOption" [value]="null"></mat-option>
    <mat-option
      *ngFor="let option of options; let i = index"
      [value]="optionValueKey ? option[optionValueKey] : option"
    >
      @if (optionsDisplayArray.length > 0) {
        {{ optionsDisplayArray[i] }}
      } @else {
        {{ optionDisplayKey ? option[optionDisplayKey] : option }}
      }

    </mat-option>
  </mat-select>
  <mat-error *ngFor="let err of formControlErrors | async">{{
      err.message
    }}
  </mat-error>
</mat-form-field>
