<div class="d-flex flex-column">
  <app-table-header headerText="Groups">
    <app-button
      buttonText="Create Group"
      [routerLink]="['create']"
    ></app-button>
  </app-table-header>
  <div class="table-container">
    <app-table
      [columns]="columns"
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
    ></app-table>
  </div>
</div>

<ng-template #nameCell let-element="element" let-index="index">
  <a [routerLink]="['/groups/' + element.id + '/view']">
    {{ element.name }}
  </a>
</ng-template>

<ng-template #numberOfMembersCell let-element="element" let-index="index">
  {{ element.groupMembers.length }}
</ng-template>

<ng-template #defaultGroupCell let-element="element" let-index="index">
  {{ element.isDefault }}
</ng-template>

<ng-template #createdAtCell let-element="element" let-index="index">
  {{ element.createdAt | date : "short" }}
</ng-template>

<ng-template #updatedAtCell let-element="element" let-index="index">
  {{ element.updatedAt | date : "short" }}
</ng-template>

<ng-template #actionsCell let-element="element" let-index="index">
  <div class="d-flex">
    <app-edit-button
      *ngIf="element.id | groupRole : groupRole.OWNER"
      color="accent"
      tooltip="Edit group"
      [buttonRouterLink]="['/groups/' + element.id + '/edit']"
    ></app-edit-button>
    <app-delete-button
      *ngIf="element.id | groupRole : groupRole.OWNER"
      tooltip="Delete Group"
      [disabled]="(groups | async)?.length === 1"
      (clicked)="deleteGroup(index)"
    ></app-delete-button>
  </div>
</ng-template>
